<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties" />

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--mappers:将sql映射注册到全局配置中-->
    <mappers>
<!--        https://mybatis.org/mybatis-3/zh/configuration.html#mappers-->
        <!--mapper:注册一个sql映射
                resource:引用类路径下的sql映射文件
                    mybatis/mapper/EmployeeMapper.xml
                url:引用网络路径或磁盘路径下的sql映射文件
                class:引用(注册)接口
                    1.有sql映射文件，映射文件名必须和接口同名，并且放在与接口同一目录下；
                    2.没有sql映射文件，所有的sql都是利用注解 写在接口上
                    推荐:
                        比较重要的，复制的Dao接口我们来写sql映射文件
                        不重要，简单的Dao接口为了开发快速可以使用注解
                -->

        <!--批量注册 要把Mapper.xml与dao层放在一个包下-->
        <!--        <package name="com.howdev.biz.mapper"/>-->

        <mapper resource="mybatis/mappers/CategoryMapper.xml"/>
        <mapper resource="mybatis/mappers/OrderDetailMapper.xml"/>
        <mapper resource="mybatis/mappers/ProductMapper.xml"/>
        <mapper resource="mybatis/mappers/UserOrderMapper.xml"/>


    </mappers>
</configuration>